$mobile: 880px;

@mixin mobile() {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: #{$mobile + 1}) {
    @content;
  }
}

@mixin wideDesktop() {
  @media screen and (min-width: 1366px) {
    @content;
  }
}
